#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}

  
.banner {
    color: #40403e;
    font-size: 90px;
    font-family: Lucida Console;
    text-transform: uppercase;
}

}
